*::before,
*,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
}

body {
  font-size: 16px;
  font-family: "Kumbh Sans", sans-serif;
  color: hsl(219, 9%, 45%);
}

header {
  position: relative;
}

img {
  max-width: 100%;
  display: block;
}
ul {
  list-style: none;
}

.wrapper {
  --_wrapper-height: 9vh;
  width: min(150ch, calc(100% - 3.5rem));
  min-height: var(--_wrapper-height);
  margin-inline: auto;
}

.container {
  width: 80%;
  max-width: 375px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fw-bolder {
  font-weight: 700;
}
.my-3 {
  margin: 1rem 0;
}
.text-dark--blue {
  color: hsl(220, 13%, 13%);
}
.text-orange {
  color: hsl(26, 100%, 55%);
}

.logo,
.disc-prod {
  font-size: 1.6rem;
}

.nav {
  width: 70%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  z-index: 10;
  translate: -100%;
  /* transition: translate 500ms ease-out; */
}

.nav_visible {
  transition: translate 500ms ease-out;
  translate: 0;
}
.nav_list {
  margin-top: 4.3rem;
}

.open-nav-btn {
  width: 1.3rem;
  cursor: pointer;
}

.close-nav-btn {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  width: 1.1rem;
  color: hsl(219, 9%, 45%);
  cursor: pointer;
  display: none;
}

.nav.nav_visible .close-nav-btn {
  display: block;
}

.nav_item {
  width: 100%;
  padding: 1rem;
  padding-left: 2rem;
  font-weight: 700;
  opacity: 0;
}

.nav_item:hover {
  background-color: hsl(26, 100%, 55%);
}

.nav_link {
  color: hsl(219, 9%, 45%);
  font-size: 1.2rem;
}

.nav_item:hover .nav_link {
  color: #fff;
}

@media (width > 660px) {
  .wrapper {
    --_wrapper-height: 9.5vh;
  }

  .nav {
    position: static;
    height: auto;
    width: 100%;
    display: block;
    translate: 0;
  }

  .navbar {
    gap: 2.5em;
  }

  .logo img,
  .nav img {
    display: none;
  }

  .nav_list {
    margin-top: 0;
  }

  .nav_item {
    padding: 0;
    font-weight: 500;
    opacity: 1;
  }

  .navbar,
  .nav_list {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
  }
  .nav_list {
    gap: 1em;
  }
  .nav_item {
    --_nav-item-padding-top: 1.3em;
    --_nav-item-padding-bottom: 1em;
    position: relative;
    padding-block: var(--_nav-item-padding-top) var(--_nav-item-padding-bottom);
    display: grid;
    place-items: center;
  }

  .nav_item:hover {
    background: none;
  }
  .nav_item:hover .nav_link {
    color: #000;
  }

  .nav_item::after {
    --_nav-item-padding: calc(var(--_nav-item-padding-bottom) + var(--_nav-item-padding-bottom));
    --_hover-position: calc(var(--_wrapper-height) - var(--_nav-item-padding) - 3.2rem);
    content: "";
    position: absolute;
    display: block;
    /* change this when the wrapper height changes it doesn't work perfectly */
    bottom: var(--_hover-position);
    display: block;
    height: 3px;
    width: 0;
    background: hsl(26, 100%, 55%);
    transition: width 0.3s ease-in-out;
  }

  .nav_item:hover::after {
    width: 100%;
  }
  .nav_link {
    font-size: 1.1rem;
    color: hsl(219, 9%, 45%);
  }
}

.logo,
.cart {
  gap: 0.5em;
}

.avatar {
  border-radius: 50%;
  border: 2px solid transparent;
  width: 2rem;
}

.avatar:hover {
  border: 2px solid hsl(26, 100%, 55%);
}

.product_image {
  position: relative;
}
.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  background-color: #fff;
  padding: 0.5rem 0.7em;
  border-radius: 50%;
}
.prev-btn {
  left: 10px;
}
.next-btn {
  right: 10px;
}
.product_details {
  padding: 2rem 0;
}
.product h3 {
  text-transform: uppercase;
}

.product-title {
  font-size: 1.7rem;
}

.product-text {
  line-height: 1.4;
  letter-spacing: 1px;
}

.discount {
  margin-left: 1rem;
  background-color: hsl(25, 100%, 94%);
  border-radius: 0.25rem;
  padding: 0.3rem 0.5rem;
}

.price {
  text-decoration: line-through;
}
.product-price,
.addOn {
  margin-top: 1em;
}

.addOn {
  background-color: hsl(223, 64%, 98%);
  border-radius: 0.5em;
  font-size: 1.2rem;
  padding: 0.7em 1em;
}

.addOn-cart {
  background-color: hsl(26, 100%, 55%);
  justify-content: center;
  gap: 0.5em;
  box-shadow: 0 7px 15px hsl(26, 100%, 55%);
  width: 100%;
}
.addOn-cart a {
  color: #fff;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .addOn {
    width: 100%;
  }
  .cta {
    display: flex;
    gap: 0.9em;
  }
}
@media (min-width: 850px) {
  .wrapper {
      --_wrapper-height: 10vh;
    border-bottom: 2px solid hsl(223, 64%, 98%);
  }

  .container,
  main {
    max-width: 1440px;
    width: 80%;
    margin: 0 auto;
  }
  main {
    /* border-top: 2px solid hsl(223, 64%, 98%); */
    padding: 5em 0;
  }

  img,
  .addOn-cart {
    margin: 0;
  }

  .navbar {
    gap: 3em;
  }

  .nav_list {
    gap: 1.5em;
  }

  .product {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
  }

  .col {
    width: 100%;
  }
  .product {
    gap: 5em;
    padding-top: 2em;
  }
  .product-title {
    font-size: 2rem;
    margin-bottom: 1.3em;
  }
  .product-price {
    flex-direction: column;
    align-items: flex-start;
  }
  .product-text {
    margin-bottom: 1.5em;
  }
  .addOn:nth-child(1) {
    gap: 1.5em;
    margin: 0;
    width: 35%;
  }
  .addOn-cart {
    width: 60%;
  }
  .cta {
    align-items: center;
    margin-top: 1.5em;
  }
}

/* change this when the wrapper height changes it do         doesn't work perfectly */
@media (min-width: 1200px) {
  .wrapper {
    --_wrapper-height: 12vh;
  }
  .nav_item::after {
    bottom: calc(var(--_hover-position) - 2.055rem);
  }
}

/* nav-item animation */
@keyframes navLinkFadeIn {
  from {
    opacity: 0;
    translate: -150px;
  }
  to {
    opacity: 1;
    translate: 0;
  }
}
